<div class="container" rtl>
    <form [formGroup]="form" (ngSubmit)="submit()">
        <div class="row justify-content-center">
            <div class="col-md-5">
                <div class="login-content">
                    <div class="login-form">

                        <div class="row">
                            <mat-form-field class="col" [ngClass]="routeAnimationsElements">
                                <input matInput 
                                    placeholder="{{'app.login.username' | translate}}" 
                                    formControlName="username" type="text" />
                                <mat-error *ngIf="form.get('username').hasError('required')">
                                    {{ "app.login.username.validation" | translate }}
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="row">
                            <mat-form-field class="col" [ngClass]="routeAnimationsElements">
                                <input matInput type="password" 
                                    placeholder="{{'app.login.password' | translate}}" 
                                    formControlName="password" />
                                <mat-error *ngIf="form.get('password').invalid">
                                    {{ "app.login.password.validation" | translate }}
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="row buttons d-flex justify-content-between pad">

                                <button type="button" class="btn-login" mat-raised-button color="accent" 
                                    [ngClass]="routeAnimationsElements" (click)="login()">
                                    {{ "app.login.enter" | translate }}
                                </button>
                        </div>
                    </div>
                    <div class="create-account">
                        <strong>Não tenho cadastro</strong>
                        <button class="btn-login" mat-raised-button color="primary" 
                            [routerLink]="['cadastro-usuario']"
                            [ngClass]="routeAnimationsElements">
                            {{ "app.login.criar.conta" | translate }}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>